.primaryButton{
    border: none;
    outline: none;
    background: linear-gradient(90deg,#435cd8 ,#0524bf 99%);
    border-radius: 4px;
    padding: 13px 35px;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.7px;
}